/* Foglio di stile per rel.html */
body {
	background-color: #90EE90;
	font-size: 20px;
	font-family: Verdana, Arial, "Times New Roman", Times;
	margin: 50px;
}

footer {
	margin-top: 50px;
	text-align: left;
	font-size: 16px;
	font-style: italic;
	text-align: center;
}

a:link {
	color: #0000FF;
	text-decoration: none;
}

a:visited {
	color: #800080;
	text-decoration: none;
}

p {
	text-align: left;
	color: #000000;
}

footer > p {
	text-align: center;
}

h1 {
	text-align: center;
	font-size: 44px;
	color: #0000FF;
	text-shadow: 3px 2px 3px #1E90FF;
	margin-bottom: 0;
}

h2 {
	margin-top: 10px;
	text-align: center;
	font-size: 28px;
	color: #1E90FF;
}

h3 {
	text-align: center;
	font-size: 22px;
	color: #008800;
}

ul {
	list-style-type: disc;
}

ul.square {
	list-style-type: square !important;
}

li {
	margin-top: 3px;
	margin-bottom: 3px;
}

hr {
	width: 800px;
	height: 1px;
	color: #000000;
	border: 1px;
	border-style: solid;
	margin-top: 50px;
}

table {
	background-color: #ADD8E6;
	border-collapse: separate;
	border-color: #00AAFF;
	border-style: ridge;
	border-width: 2px;
	border-spacing: 1px;
	float: right;
	margin: 30px;
}

tr.alt {
	background-color: #E0FFFF;
}

td {
	text-align: center;
	border-color: #00AAFF;
	border-style: ridge;
	border-width: 2px;
}

.col1 {
	width: 30%;
	vertical-align: middle;
}

.col2 {
	width: 70%;
	vertical-align: middle;
}

.box {
	background-color: #ADD8E6;
	border-style: ridge;
	border-radius: 16px;
	padding: 20px;
	margin-bottom: 30px;
	margin-top: 30px;
}

.key-word {
	color: #FF0000;
}

.underline {
	text-decoration: underline;
}

.imbig {
	border-width: 8px;
	border-color: #000000;
	border-style: ridge;
	border-radius: 30px;
	float: right;
	margin: 15px;
}

.impdf {
	border: none;
	margin: 0;
	position: relative;
	bottom: 0;
	left: 0;
}